@font-face {
  font-family: nunito;
  src: url('../../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.classesContainer {
  top: 0;
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  font-family: nunito;
}

.classesSideContent {
  position: absolute;
  right: 0;
  top: 0;
  width: 81%;
  min-height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
}

.classesInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.classesCard {
  width: 95%;
  background-color: #fafbff;
  margin-top: 52px;
  margin-bottom: 52px;
  border-radius: 5px;

  padding: 36px;
}

.classesCardTitle {
  display: flex;
  align-items: start;
  flex-direction: column;

  margin-bottom: 36px;
}

.classesCardTitle p {
  font-size: 32px;
  font-weight: 500;
  color: #2c3e50;

  margin-bottom: 6px;
}

.classesCardTitle hr {
  background-color: #f66b0e;
  width: 100%;
  height: 2px;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.classesCardTable {
  width: 100%;
}

.classesCardTableBody {
  width: 100%;
}

.classesBody {
  width: 100%;
}

.classesBody p {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 10px;
}

.classesDayBody {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  margin-bottom: 60px;
}

.classesHour {
  width: 200px;
  height: 200px;

  border-radius: 10px;

  background-color: #fafbff;

  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;

  padding: 20px 15px;
}

.classesHour .classesHourTitle {
  font-size: 24px;
  color: #f66b0e;
  font-weight: bold;

  margin-bottom: 24px;
}

.classesName {
  display: flex;
  align-items: center;

  margin-left: -10px;
  margin-bottom: 36px;
}

.classesName hr {
  width: 40px;
  height: 2px;

  border: none;
  outline: none;

  background-color: #677c91;

  transform: rotate(90deg);

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.classesName span {
  font-size: 16px;
  line-height: 14px;

  margin-left: -8px;

  color: #3f3f3f;
}

.classesDuration {
  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 46px;
}

.classesBegin {
  display: flex;
  flex-direction: column;
}

.classesBegin p {
  font-size: 24px;
  color: #3f3f3f;

  line-height: 1px;
}

.classesBegin span {
  font-size: 20px;
  color: #3f3f3f;
}

.classesEnd {
  display: flex;
  flex-direction: column;
}

.classesEnd p {
  font-size: 24px;
  color: #3f3f3f;

  line-height: 1px;
}

.classesEnd span {
  font-size: 20px;
  color: #3f3f3f;
}

.classesCardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 86px;
}

.classesCardFooter span {
  font-size: 20px;
  color: #3c5874;
}

.classesFooterPages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.classesPageChecked {
  width: 43px;
  height: 43px;

  background-color: rgba(122, 165, 209, 0.3);

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.classesPage {
  width: 43px;
  height: 43px;

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
