@font-face {
  font-family: nunito;
  src: url('../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginContainer {
  font-family: nunito;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  position: relative;
}

#backgroundLogo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.login {
  margin-left: 90px;
  width: 1300px;
  height: 850px;
  background-color: #fafbff;
  border-radius: 20px;

  box-shadow: 0px 0px 45px 9px rgba(0, 0, 0, 0.1);

  position: relative;
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginTitle {
  width: 44%;
}

.loginOption {
  width: 44%;
  margin-top: 38px;

  display: flex;
  align-items: center;

  column-gap: 50px;
}

.option span {
  color: #3c5874;
  font-size: 1.25rem;

  margin-left: 10px;
}

input[type='radio'] {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}

input[type='radio']::after,
input[type='radio']::before {
  border-radius: 50%;
  position: absolute;
}

input[type='radio']::after {
  background-color: #ff6600;
  content: '';
  height: 50%;
  left: 25%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.2s;
  top: 25%;
  width: 50%;
}

input[type='radio']::before {
  border: 2px solid #ff6600;
  box-sizing: border-box;
  content: '';
  height: 100%;
  width: 100%;
}

input[type='radio']:checked::after {
  transform: scale(1);
}

.login h1 {
  font-size: 3rem;
  color: #2c3e50;
}

.login p {
  color: #3c5874;
  font-size: 1.4rem;
}

.inputGroup {
  margin-bottom: 20px;
  width: 44%;
}

.inputError {
  width: 107%;
  font-family: nunito;
  padding: 13px 59px;
  font-size: 1.3rem;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #ffffff;
  color: #2c3e50;
}

form {
  width: 100%;
  height: 34%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputFormStudent {
  width: 100%;
  font-family: nunito;
  padding: 13px 59px;
  font-size: 1.3rem;
  border: 2px solid #677c91;
  border-radius: 10px;
  background-color: #ffffff;
  color: #2c3e50;
}

.imgInputs {
  position: absolute;
  margin-top: 7.7px;
  margin-left: 10px;
}

.loginButtonStudent {
  margin-top: 100px;
  background-color: #ff6600;
  color: white;
  width: 44%;
  padding: 13px 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3rem;
}

.loginButtonStudent:hover {
  background-color: #e65c00;
}

#logo {
  position: absolute;
  height: 35px;
  margin: 63px 0px 0px 88px;
}
