@font-face {
  font-family: nunito;
  src: url('../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.studentSettingContainer {
  width: 100vw;
  background-color: #f2f2f2;
}

.studentSettingMainContent {
  display: flex;
  width: 100%;
}

.studentSettingSideContents {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.studentSettingInfo {
  width: 100%;
  height: auto;
  display: flex;
  padding: 33px 40px;
  flex-direction: column;
}

.studentSettingCardContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  gap: 35px;
}

.studentSettingCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 34px 32px 40px 32px;
  gap: 28px;
  border-radius: 5px;
  background-color: #fbfcff;
}

.settingStudentCardInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.cardInfoStudentTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.cardInfoStudentLine {
  width: 100%;
  height: 1px;
  background-color: #f66b0e;
}

.cardStudentLanguageSelect {
  position: relative;
  margin-top: auto;
  width: 100%;
}

.cardStudentLanguageSelect select {
  width: 100%;
  padding: 8px 15px;
  padding-right: 40px;
  border-radius: 6px;
  background-color: #f2f2f2;
  color: #0c1e33;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.cardStudentLanguageSelect::after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 50%;
  width: 8px;
  height: 8px;
  right: 15px;
  margin-top: -6px;
  transform: rotate(45deg);
  border-right: 1px solid #0c1e33;
  border-bottom: 1px solid #0c1e33;
}

.settingStudentToggleContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.settingStudentSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.settingStudentSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.settingStudentSlider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.settingStudentSlider:before {
  position: absolute;
  border-radius: 50%;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .settingStudentSlider {
  background-color: #f66b0e;
}

input:focus + .settingStudentSlider {
  box-shadow: 0 0 1px #f66b0e;
}

input:checked + .settingStudentSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
