@font-face {
  font-family: nunito;
  src: url('../../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.gradesContainer {
  top: 0;
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  font-family: nunito;
}

.gradesSideContent {
  position: absolute;
  right: 0;
  top: 0;
  width: 81%;
  min-height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
}

.gradesInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gradesCard {
  width: 95%;
  background-color: white;
  margin-top: 34px;
  margin-bottom: 34px;
  border-radius: 5px;

  padding: 36px;
}

.gradesCardTitle {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.gradesCardTitle p {
  font-size: 32px;
  font-weight: 500;
  color: #2c3e50;
}

.gradesCardTitle hr {
  background-color: #f66b0e;
  width: 100%;
  height: 2px;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  margin-top: 6px;
  margin-bottom: 36px;
}

.gradeCardSubject {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.gradeCardSubject span {
  font-size: 22px;
  font-weight: 300;
  color: #000;
  display: inline-block;
}

.gradeCardSubject select {
  font-size: 18px;
  font-weight: 300;
  color: #3f3f3f;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 140px;
  padding: 5px 10px;
}

.gradesCardTables {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.gradesCardTable {
  width: 100%;
}

.gradesCardTable hr {
  width: 100%;
}

.gradesCardTableHeader {
  width: 70%;
  margin-bottom: 30px;
}

.gradesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
}

.gradesHeader span {
  font-size: 24px;
  color: #233058;
  font-weight: bold;
}

.gradesCardTableBody {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gradesCardTableBody hr {
  width: 100%;
}

.gradesBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 6px;
}

.gradesBody span {
  font-size: 24px;
  color: #3f3f3f;
  font-weight: 500;
}

.gradeCardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 86px;
}

.gradeCardFooter span {
  font-size: 20px;
  color: #3c5874;
}

.gradeFooterPages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.gradePageChecked {
  width: 43px;
  height: 43px;

  background-color: rgba(122, 165, 209, 0.3);

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gradePage {
  width: 43px;
  height: 43px;

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
