@font-face {
  font-family: nunito;
  src: url('../../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.absenceContainer {
  top: 0;
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  font-family: nunito;
}

.absenceSideContent {
  position: absolute;
  right: 0;
  top: 0;
  width: 81%;
  min-height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
}

.absenceInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.absenceCard {
  width: 95%;
  background-color: white;
  margin-top: 34px;
  margin-bottom: 34px;
  border-radius: 5px;

  padding: 36px;
}

.absenceCardTitle {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.absenceCardTitle p {
  font-size: 32px;
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: 20px;
}

.absenceCardTitle hr {
  background-color: #f66b0e;
  width: 100%;
  height: 2px;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.absenceCardSubject {
  margin-top: 36px;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.absenceCardSubject span {
  font-size: 22px;
  font-weight: 300;
  color: #000;
  display: inline-block;
}

.absenceCardSubject select {
  font-size: 18px;
  font-weight: 300;
  color: #3f3f3f;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 140px;
  padding: 5px 10px;
}

.absenceCardTable {
  width: 100%;
}

.absenceCardTableHeader {
  width: 100%;
  margin-bottom: 32px;
}

.absenceCardTableBody {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.absenceHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absenceHeaderAcronym {
  margin-left: 120px;
}

.absenceHeaderTotalClasses {
  margin-right: -30px;
}

.absenceBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absenceHeader h1 {
  font-size: 24px;
  color: #233058;
  font-weight: bold;
}

.absenceBody h2 {
  font-size: 24px;
  color: #3f3f3f;
  font-weight: bold;
}

.absenceCardTableBody hr {
  border: none;
  outline: none;
  height: 1px;
  background-color: #677c91;
  border-radius: 10px;

  margin-top: 12px;
}

.absenceCardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 86px;
}

.absenceCardFooter span {
  font-size: 20px;
  color: #3c5874;
}

.absenceFooterPages {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.absencePageChecked {
  width: 43px;
  height: 43px;

  background-color: rgba(122, 165, 209, 0.3);

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.absencePage {
  width: 43px;
  height: 43px;

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
