@font-face {
  font-family: nunito;
  src: url('../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.back {
  position: absolute;
  left: 25rem;
  top: 63px;
}

.homeContainer {
  width: 100vw;
  background-color: #f2f2f2;
}

.homeSideContents {
  top: 0;
  width: 81%;
  height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeInfoTop {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin: 30px;
}

.homeInfo {
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.homeInfoBelow {
  margin: 30px;
  width: 90%;
  height: 40%;
}

.homeInfoBelow {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0px 8px #0000001a;
  width: 90%;
  height: 349px;
  margin-bottom: 2%;
}

.homeProfileStudent,
.homeCalendar {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0px 8px #0000001a;
  width: 103%;
  height: 148%;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;
  color: #233058;
  font-size: 30px;
  margin-left: 16px;
}

.homeProfileStudent .studentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.homeProfileStudent .studentInfo p {
  margin: 0;
}

.homeProfileStudent div:nth-of-type(2) {
  margin-bottom: 10px;
}

.homeProfileStudent div:nth-of-type(3) p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 60px;
}

.homeCalendar p {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.homeCalendar .cardTitle p {
  font-size: 32px;
}

.homeCalendar p:nth-of-type(2),
.homeCalendar p:nth-of-type(4) {
  font-weight: bold;
}

.homeCalendar div:nth-of-type(4) p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
}

.basicinfo {
  position: relative;
  left: 250px;
  top: -200px;
}

.basicinfo > label {
  font-size: 19px;
}

.inpNam {
  width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
}

.inpIcon {
  position: absolute;
  left: 460px;
  top: 25%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.inpMat {
  width: 450px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  margin-left: 35rem;
  margin-top: -4.9rem;
  position: absolute;
  color: #ccc;
}

.inpIcon2 {
  position: absolute;
  left: 960px;
  top: 23%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 10;
}

.lblMat {
  left: 35rem;
  top: -5rem;
  position: relative;
}

.inpData {
  width: 250px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
}

.inpFre {
  width: 250px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
  left: 19.6rem;
  position: absolute;
}

.fre {
  margin-left: 19.8rem;
  margin-top: -79px;
}

.sta {
  margin-left: 37.8rem;
  margin-top: -30px;
}

.sts {
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
  left: 37.6rem;
  position: absolute;
}

.indicatioName {
  color: #f66b0e;
  position: relative;
  top: -12.5rem;
}

.normalName {
  color: #233058;
  position: relative;
  left: 15.5rem;
  top: -15.8rem;
}

.indicationline {
  background-color: #f66b0e;
  height: 5px;
  width: 210px;
  position: relative;
  top: -12.5rem;
  z-index: 1;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #233058;
  position: relative;
  top: -12.7rem;
}

.lblcurso {
  font-size: 22px;
  margin-top: -14.5rem;
}

.lblturma {
  font-size: 22px;
  margin-top: 0.9rem;
}

.lblmaterias{
  font-size: 22px;
  margin-top: -10.6rem;
  margin-left: 40rem;
}

.curso {
  width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
}

.turma {
  width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
}

.inparea{
  width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 40px;
  height: 160px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
  text-align: justify;
  left: 67.5rem;
  position: absolute;
  top: 35rem;
}


.btnSalvar{
  background-color: #f66b0e;
  color: #f2f2f2;
  position: absolute;
  bottom: 2.9rem;
}

.btnCancelar{
  background-color: #F66B0E33;
  color: #f66b0e;
  position: absolute;
  bottom: 2.9rem;
  left: 34rem;
}